* {
    margin: 0 ; 
    padding: 0 ;
    box-sizing: border-box ;

}

/*
body{
    background-color:  black !important;

}*/

h1{
    color: #B4A7B7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px !important;
    margin-bottom: 200px !important;
}

.agregar{
    margin-top: 5px !important;
}

#facturas{
    margin-bottom: 100px;
}

#carrito{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    padding-bottom: 50px;
    width: 80vw;
    margin-left: 10vw;
}

/*
#carritoCompra{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    margin-bottom: 10px;
}
*/