$princeton-orange: #e67a29ff;
$cinnabar: #f43a2eff;
$davys-grey: #5a5956ff;
$rosewood: #550c12ff;
$dark-sienna: #270715ff;

$smoky-black: #210f04;
$deep-space-sparkle: #4e6766ff;
$languid-lavender: #cbc0d3ff;
$olive-green: #bbbe64ff;
$celadon: #a9e5bbff;
